[user]
	name = Maxim Orlov
	email = mail@orlovmax.com
[alias]
  type = cat-file -t
  dump = cat-file -p
[core]
	autocrlf = false
	editor = 'D:/OpenServer/progs/_Office/Sublime_text/sublime_text.exe'
	excludesfile = ~/.gitignore
